---
import type { PaginateFunction } from "astro"
import { format } from "date-fns"

import Pagination from "@/components/Pagination.astro"
import Layout from "@/layouts/Layout.astro"
import { getPosts } from "@/lib/server"

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction
}) {
  const posts = await getPosts()

  return paginate(posts, { pageSize: 20 })
}

const { page } = Astro.props
const description = "My personal blog, full of random musings"
---

<Layout
  description={description}
  title={page.currentPage > 1 ? `Page ${page.currentPage}` : undefined}
>
  <div class="post-header section">
    <div class="container">
      <h1>
        {
          page.currentPage > 1 ? (
            <>Posts (page {page.currentPage})</>
          ) : (
            <>Reupen’s blog</>
          )
        }
      </h1>
    </div>
  </div>
  <div class="section">
    <div class="container">
      {
        page.data.map((post, index) => (
          <>
            {(post.isNewMonth || index === 0) && (
              <h2>
                {format(post.data.date, "MMMM yyyy")}
                {index === 0 && !post.isNewMonth && " (continued)"}
              </h2>
            )}
            <ol>
              <li id={post.id}>
                <a href={`/${post.data.slugPrefix}/${post.id}/`}>
                  {post.data.title}
                </a>
                <p>{post.data.excerpt}</p>
              </li>
            </ol>
          </>
        ))
      }
      <Pagination
        entryName="posts"
        nextHref={page.url.next}
        previousHref={page.url.prev}
      />
    </div>
  </div>
</Layout>

<style>
  ol {
    list-style: none;
    padding: 0;
  }

  li {
    padding-left: 0;
    margin-bottom: 1rem;
    line-height: 1.5;
    font-family: var(--sans-serif-font-family);

    a {
      font-size: 22px;
      font-weight: 600;

      &:not(:hover) {
        text-decoration-line: none;
      }
    }

    p {
      font-size: 18px;
      margin-top: 0.1rem;
      line-height: 1.7;
    }
  }

  .post-header {
    background: var(--nav-background);
    padding: 0.75rem 1rem 1rem;

    @media (min-width: calc(700px + 3rem)) {
      padding: 1rem 1.5rem 1rem;
    }
  }
</style>
