---
import type { PaginateFunction } from "astro"
import { format } from "date-fns"

import Pagination from "@/components/Pagination.astro"
import Layout from "@/layouts/Layout.astro"
import { getFeaturedPosts, getPosts } from "@/lib/server"

export async function getStaticPaths({
  paginate,
}: {
  paginate: PaginateFunction
}) {
  const posts = await getPosts()
  return paginate(posts, { pageSize: 20 })
}

const { page } = Astro.props
const description =
  "My personal blog, full of random musings about computing, programming, tech, photography and more"
const months = Map.groupBy(page.data, (post) =>
  format(post.data.date, "MMMM yyyy"),
)

const featuredPosts = page.currentPage === 1 ? await getFeaturedPosts() : []
---

<Layout
  description={description}
  title={page.currentPage > 1 ? `Page ${page.currentPage}` : undefined}
>
  <div class="post-header section">
    <div class="container">
      <h1>
        {
          page.currentPage > 1 ? (
            <>Posts (page {page.currentPage})</>
          ) : (
            <>Reupen’s blog</>
          )
        }
      </h1>
    </div>
  </div>
  <div class="section">
    <div class="container">
      {
        featuredPosts.length > 0 && (
          <div class="featured-container">
            <h2>Featured posts</h2>
            <ol class="featured-grid">
              {featuredPosts.map((post) => (
                <li>
                  <p>
                    <time datetime={post.data.date.toISOString()}>
                      {format(post.data.date, "d MMMM yyyy")}
                    </time>
                  </p>
                  <a href={`/${post.id}/`}>{post.data.title}</a>
                </li>
              ))}
            </ol>
          </div>
        )
      }
      {
        months.entries().map(([month, posts], index) => (
          <>
            <h2>
              {month}
              {index === 0 && !posts[0].isNewMonth && " (continued)"}
            </h2>
            <ol>
              {posts.map((post) => (
                <li id={post.id}>
                  <a href={`/${post.id}/`}>{post.data.title}</a>
                  <p>{post.data.excerpt}</p>
                </li>
              ))}
            </ol>
          </>
        ))
      }
      <Pagination
        entryName="posts"
        nextHref={page.url.next}
        previousHref={page.url.prev}
      />
    </div>
  </div>
</Layout>

<style>
  h2 {
    margin-bottom: 0.75rem;
    font-size: 30px;
  }

  ol {
    list-style: none;
    padding: 0;
  }

  li {
    padding-left: 0;
    margin-bottom: 1.35rem;
    line-height: 1.5;
    font-family: var(--sans-serif-font-family);

    a {
      font-size: 21px;
      font-weight: 600;

      &:not(:hover) {
        text-decoration-line: none;
      }
    }

    p {
      font-size: 17px;
      margin-top: 0.1rem;
      line-height: 1.7;
    }
  }

  .featured-container {
    background: var(--post-navigation-background);
    border-radius: 6px;
    padding: 0.3rem 1rem 1rem;

    h2 {
      margin-bottom: 0.2rem;
      font-size: 28px;
    }
  }

  .featured-grid {
    display: grid;
    grid-template-columns: repeat(
      auto-fit,
      minmax(calc((var(--max-body-width) - 2rem - 1.5rem * 2) / 3), 1fr)
    );
    gap: 0.25rem 1.5rem;

    &,
    li {
      margin-bottom: 0;

      a {
        font-size: 20px;
      }

      p {
        font-size: 15.5px;
        margin-bottom: 0;
      }
    }
  }

  .post-header {
    background: var(--nav-background);
    color: var(--nav-text-colour);
    padding: 0.75rem 1rem 1rem;

    @media (min-width: calc(700px + 3rem)) {
      padding: 1rem 1.5rem 1rem;
    }
  }
</style>
